
<div class="wrapper wrapper-content ">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row padding-top-30">
                        <h5>payment</h5>
                            <h5 class="padding-top-5 col-sm-12"style="margin:15px;">{{'payment.msg'|translate}}</h5>

                            <div class="col-lg-12 padding-top-5">
                                    <ngx-dropzone label="{{'shared.upload-msg'|translate}}" class="custom-dropzone"
                                [accept]="'application/pdf'"
                                [multiple]="false" (filesAdded)="onFileChanged($event)" #dropzone>
                            </ngx-dropzone>
                        </div>

                        <br><br>

        

                        <div class="col-lg-12" *ngIf="isUploaded">
                                <div class="col-lg-6">
                                    <br /><b class="text-navy">{{'shared.uploaded-files'|translate}}</b>
                                    <br />
                                    <div class="col-sm-12">
                                        <span class="col-sm-2">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <span class="col-sm-8">
                                            <a>{{model.FileName}}</a>
                                        </span>
                                        <span class="col-sm-2">
                                            <i (click)="removeAttachment()" class="fa fa-trash"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        <br>
                        <div class="forms-wrap">

                                <div class="col-sm-12 form-group">

                                <!-- <button type="reset" (click)="reset()"
                                    class="btn btn-primary-outline margin-h-10 ">{{'shared.cancel'|translate}}</button> -->
                                <button *ngIf="model.FileName!='' && isUploaded" type="button" (click)="save()"
                                    [disabled]="isSaving"
                                    class="btn btn-primary margin-h-10 ">{{'shared.submit'|translate}}</button>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>