<!-- 
    <div class="ibox-content">
    <div class="row">
        <img  src="assets/img/SFDA logo-01.png" class="imgLogo" alt="logo">
    </div>

    
        <div class="row">
            <div class="article agreementText">
                <h3 >Dear Sir,</h3>
                <p>You have received the service of agreement on your account for<br>
                the request<strong>#123</strong>, please follow the following steps :</p>
                <p>1 - Download the service of agreement from the service & agreement page .</p>
                <p>2 - Print the file and sign it .</p>
                <p>3 - Scan the signed file and upload it from the same page or from your<br>
                  dashboard .</p>
                
            </div>
        </div>

        <div class="row viewAgreement">
            <button  class="btn btn-xs btn-primary" [routerLink]="['/agreement/index']">
           View and download service of agreement
        </button>
        </div>
    
        <div class="row">
            <div class="article agreementText">
                
                <p>Thanks ,</p>
                <p>Best Regards ,</p>
                
                
            </div>
        </div>

       

     
    

  </div>
  
 
     -->