<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" id="submitted">
        <h3>Audit plans</h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a>Audit plans</a>
            </li>
            <li class="breadcrumb-item active">
                <a><strong>Accepting NCs</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content " id="appendix-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Here you can accept the non-conformity findings reported by the audit team</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12" id="audit-content">
                            <form role="form">
                                <!-- <div class="form-group row">
                                                     <label class="control-label col-sm-3 "> Main title </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control" value="On-site Assement informations" 
                                                         type="text" readOnly="true">
                                                     </div>  
                                                 </div>
                         
                                                 <div class="form-group row ">
                                                     <label class="control-label col-sm-3">Title 2  </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control " value="Initial assement GSO.2055.1"
                                                         type="text" readOnly="true">
                                                        </div>
                                                 </div>
                                                 <div class="form-group row">
                                                     <label class="control-label col-sm-3">No.of Application  </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control" value="12345" 
                                                         type="text" readOnly="true">
                                                     </div> 
                                                 </div>
                                                 <div class="form-group row">
                                                         <label class="control-label col-sm-3">Name of Company  </label>
                                                         <div class="col-sm-8">
                                                         <input class="form-control" value="My2soluations" 
                                                             type="text" readOnly="true">
                                                            </div> 
                                                     </div>
                                                     
                                                     <div class="form-group row">
                                                             <label class="control-label col-sm-3">Company  Address </label>
                                                             <div class="col-sm-8">
                                                             <input class="form-control" value="Egypt ,Assuit" 
                                                                 type="text" readOnly="true">
                                                                 </div>
                                                         </div>
                                                         

                                                         <div class="form-group row">
                                                                <label class="control-label col-sm-3">Assessment dates</label>
                                                                
                                                                <div class="col-sm-7">
                                                                <span class="label label-primary label-large "> &nbsp;&nbsp; 7/04/2019 &nbsp;&nbsp;</span> 
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;30/09/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;13/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;14/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;15/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;16/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;17/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;18/07/2019&nbsp;&nbsp;</span>
                                                            
                                                            </div>
                                                            </div>
                                                     
                         
                         
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Lead auditor  </label>
                                                         
                                                    <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-5"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-5"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>
                                                        </div>
                         
                                                     </div>
                                                     
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Technical auditor </label>
                                                     
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp;Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         

                                                         </div>
                         
                                                     </div>
                             
                                                     
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Halal islamic affairs expert  </label>
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         
                                                </div>
                                                     </div>
                         
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Technical expert </label>
                                                     
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         
                                                        </div>
                         
                                                     </div>
                          -->

                                <div class="form-group row">
                                    <label class="control-label col-sm-3 "> Main title </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" value="On-site Assement informations" type="text"
                                            readOnly="true">
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <label class="control-label col-sm-3">Title 2 </label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="Initial assement GSO.2055.1" type="text"
                                            readOnly="true">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-3">No.of Application </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" [value]="model.Number" type="text" readOnly="true">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Name of Company </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" [value]="model.CompanyName" type="text"
                                            readOnly="true">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Company Address </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" [value]="model.CompanyAddress" type="text"
                                            readOnly="true">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Assessment dates</label>

                                    <div class="col-sm-7">
                                        <span class="label label-primary label-large margin-h-10"
                                            *ngFor="let item of model.AssessmentDates; let i=index"> &nbsp;&nbsp;
                                            {{item | date:'dd/MM/yyyy'}} &nbsp;&nbsp;</span>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Lead auditor </label>

                                    <div class="col-sm-8">
                                        <div class="btn-group" *ngFor="let item of model.LeadAuditors; let i=index">
                                            <span class="label label-primary label-large padding-top-5"> &nbsp;
                                                {{item.EmployeeName}} &nbsp;</span>
                                        </div>


                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Technical auditor </label>

                                    <div class="col-sm-8">
                                        <div class="btn-group"
                                            *ngFor="let item of model.TechnicalAuditors; let i=index">
                                            <span class="label label-primary label-large padding-top-10">
                                                &nbsp;{{item.EmployeeName}} &nbsp;</span>
                                        </div>



                                    </div>

                                </div>


                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Halal islamic affairs expert </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group" *ngFor="let item of model.AffairsExperts; let i=index">
                                            <span class="label label-primary label-large padding-top-10"> &nbsp;
                                                {{item.EmployeeName}} &nbsp;</span>
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-3">Technical expert </label>

                                    <div class="col-sm-8">
                                        <div class="btn-group" *ngFor="let item of model.TechnicalExperts; let i=index">
                                            <span class="label label-primary label-large padding-top-10"> &nbsp;
                                                {{item.EmployeeName}} &nbsp;</span>
                                        </div>


                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="table-responsive" id="corectiveTable">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Description of non-conformity</th>
                                                    <th>Corrective action</th>
                                                    <th>Proposed Implementation period</th>
                                                    <th>Documents</th>
                                                    <th>Supplied documents</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of model.NCSs; let i=index">

                                                    <td>
                                                        {{item.Description}}
                                                    </td>
                                                    <td>
                                                        {{item.CorrectiveAction}}
                                                    </td>


                                                    <td>
                                                        {{item.ImplementationPeriod |date:'dd/mm/yyyy'}}
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <div
                                                                *ngFor="let file of item.SuppliedDocuments;let i=index;">
                                                                <!-- <br *ngIf="i == 0"> -->
                                                                <a target="_blank"
                                                                    [href]="file.FilePath">{{file.FileName}}</a>
                                                                &nbsp;&nbsp;
                                                                <span (click)="removeAttachment(item,i)"><i
                                                                        class="fa fa-times">
                                                                    </i></span>
                                                            </div>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div class="file-upload"
                                                            *ngIf="item.SuppliedDocuments.length == 0">
                                                            <label class="fileContainer uplaod">
                                                                <!-- <i class="fa fa-upload"></i> -->
                                                                 {{'shared.upload-files'|translate}}
                                                                <input type="file" class="bg-primary" multiple #myInput
                                                                    accept=".doc, .docx,.pdf"
                                                                    (change)="onFileChanged($event,item)" />
                                                            </label>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <label for="file" class="btn btn-primary">&nbsp;Upload
                                                                File&nbsp;</label>
                                                            <input type="file" id="file">
                                                        </div> -->
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>

                                    </div>
                                </div>



                            </form>






                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 mt-5">
                            <button type="submit" (click)="save()" class="btn btn-primary float-right margin-h-10 ">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Submit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp;
                            </button>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
</div>