<div class="white-bg middle-box signupscreen animated fadeInDown">
  <!-- <div>
      <img src="assets/img/logo.png" class="img-fluid" alt="hallal Logo">
    </div> -->
  <div>
    <h2 class="signup-title text-center">{{'change-password.title'|translate}}</h2>
    <div class="form-group" [formGroup]="form">
      <div class="form-group"
        [class.has-error]="!form.controls['CurrentPassword'].valid && form.controls['CurrentPassword'].touched">
        <label class="control-label">{{'change-password.current'|translate}}</label>
        <input formControlName="CurrentPassword" class="form-control"
          placeholder="{{'change-password.enter-current'|translate}}" name="password" type="password" value="">
        <div class="text-danger"
          *ngIf="!form.controls['CurrentPassword'].valid && form.controls['CurrentPassword'].touched">
          <div class="valid-label text-danger" *ngIf="form.controls['CurrentPassword'].hasError('required')">
            {{'shared.validation.new-password-required'|translate}}</div>
          <div class="valid-label text-danger" *ngIf="form.controls['CurrentPassword'].hasError('minlength')">
            {{'shared.validation.min-8-char'|translate}}</div>
          <!-- <div class="valid-label text-danger" *ngIf="form.controls['CurrentPassword'].hasError('maxLength')">Maximum length is 50 characters.</div> -->
        </div>
      </div>
      <div class="form-group"
        [class.has-error]="!form.controls['NewPassword'].valid && form.controls['NewPassword'].touched">
        <label class="control-label">{{'change-password.new'|translate}}</label>
        <input formControlName="NewPassword" class="form-control"
          placeholder="{{'change-password.enter-new'|translate}}" name="password" type="password" value="">
        <div class="text-danger" *ngIf="!form.controls['NewPassword'].valid && form.controls['NewPassword'].touched">
          <div class="valid-label text-danger" *ngIf="form.controls['NewPassword'].hasError('required')">
            {{'shared.validation.new-password-required'|translate}}
          </div>
          <div class="valid-label text-danger" *ngIf="form.controls['NewPassword'].hasError('minlength')">
            {{'shared.validation.min-8-char'|translate}}</div>
          <!-- <div class="valid-label text-danger" *ngIf="form.controls['NewPassword'].hasError('maxLength')">Maximum length is 50 characters.</div> -->
        </div>
      </div>
    </div>
    <form>
      <button (click)="send()" class="btn btn-primary float-right">{{'change-password.reset'|translate}}</button>
    </form>
  </div>
</div>