<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" id="submitted">
        <h3>Audit plans</h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a>Audit plans</a>
            </li>
            <li class="breadcrumb-item active">
                <a><strong>Accepting NCs</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content " id="appendix-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Here you can accept the non-conformity findings reported by the audit team</h5>

                </div>
                <div class="ibox-content" >
                    <div class="row">
                        <div class="col-sm-12" id="audit-content">          
                                         <form role="form"  >
                                                 <div class="form-group row">
                                                     <label class="control-label col-sm-3 "> Main title </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control" value="On-site Assement informations" 
                                                         type="text" readOnly="true">
                                                     </div>  
                                                 </div>
                         
                                                 <div class="form-group row ">
                                                     <label class="control-label col-sm-3">Title 2  </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control " value="Initial assement GSO.2055.1"
                                                         type="text" readOnly="true">
                                                        </div>
                                                 </div>
                                                 <div class="form-group row">
                                                     <label class="control-label col-sm-3">No.of Application  </label>
                                                     <div class="col-sm-8">
                                                     <input class="form-control" value="12345" 
                                                         type="text" readOnly="true">
                                                     </div> 
                                                 </div>
                                                 <div class="form-group row">
                                                         <label class="control-label col-sm-3">Name of Company  </label>
                                                         <div class="col-sm-8">
                                                         <input class="form-control" value="My2soluations" 
                                                             type="text" readOnly="true">
                                                            </div> 
                                                     </div>
                                                     
                                                     <div class="form-group row">
                                                             <label class="control-label col-sm-3">Company  Address </label>
                                                             <div class="col-sm-8">
                                                             <input class="form-control" value="Egypt ,Assuit" 
                                                                 type="text" readOnly="true">
                                                                 </div>
                                                         </div>
                                                         

                                                         <div class="form-group row">
                                                                <label class="control-label col-sm-3">Assessment dates</label>
                                                                
                                                                <div class="col-sm-7">
                                                                <span class="label label-primary label-large "> &nbsp;&nbsp; 7/04/2019 &nbsp;&nbsp;</span> 
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;30/09/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;13/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;14/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;15/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;16/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;17/07/2019&nbsp;&nbsp;</span>
                                                                &nbsp; <span class="label label-primary label-bs ">&nbsp;&nbsp;18/07/2019&nbsp;&nbsp;</span>
                                                            
                                                            </div>
                                                            </div>
                                                     
                         
                         
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Lead auditor  </label>
                                                         
                                                    <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-5"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-5"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>
                                                        </div>
                         
                                                     </div>
                                                     
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Technical auditor </label>
                                                     
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp;Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         

                                                         </div>
                         
                                                     </div>
                             
                                                     
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Halal islamic affairs expert  </label>
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         
                                                </div>
                                                     </div>
                         
                                                     <div class="form-group row">
                                                         <label class="control-label col-sm-3">Technical expert </label>
                                                     
                                                         <div class="col-sm-8">
                                                         <div class="btn-group">
                                                                <span class="label label-primary label-large padding-top-10"> &nbsp; Ahmed Abdullah &nbsp;</span>
                                                         </div>

                                                         
                                                        </div>
                         
                                                     </div>
                         


                                                     <div class="form-group row">
                                                        <div class="table-responsive" id="corectiveTable">
                                                            <table class="table table-bordered">
                                                                <thead >
                                                                    <tr class="">
                                                                        
                                                                       
                                                                        <th >Description of non-conformity</th>
                                                                        <th>Corrective action</th>
                                                                         <th>Proposed Implementation period</th>
                                                                         <th>Documents</th>
                                                                         <th>Supplied documents</th>
                                                                     
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                  
                                                                    <tr>
                                                                    
                                                                        <td>
                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                        </td>
                                                                        <td>
                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                        </td>
                                                                    
                                                                    
                                                                        <td>
                                                                    
                                                                            <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                        </td>
                                                                        <td>
                                                                                pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                        </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                                <label for="file" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                <input type="file"
                                                                                       id="file"
                                                                                       >
                                                                            </div>
                                                                    </td>
                                                                    
                                                                    </tr>
                                                                      
                                                                    <tr>
                                                                    
                                                                            <td>
                                                                                mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                            </td>
                                                                            <td>
                                                                                mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                            </td>
                                                                        
                                                                        
                                                                            <td>
                                                                        
                                                                                <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                            </td>
                                                                            <td>
                                                                                    pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                                </td>
                                                                        <td>
                                                                                <div class="form-group">
                                                                                        <label for="file1" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                        <input type="file"
                                                                                               id="file1"
                                                                                               >
                                                                                    </div>
                                                                        </td>
                                                                        
                                                                        </tr>
                                                                           
                                                                        <tr>
                                                                    
                                                                                <td>
                                                                                    mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                </td>
                                                                                <td>
                                                                                    mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                </td>
                                                                            
                                                                            
                                                                                <td>
                                                                            
                                                                                    <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                                </td>
                                                                                <td>
                                                                                        pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                                    </td>
                                                                            <td>
                                                                                    <div class="form-group">
                                                                                            <label for="file2" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                            <input type="file"
                                                                                                   id="file2"
                                                                                                   >
                                                                                        </div>
                                                                            </td>
                                                                            
                                                                            </tr>
                                                              
                                                                            <tr>
                                                                    
                                                                                    <td>
                                                                                        mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                    </td>
                                                                                    <td>
                                                                                        mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                    </td>
                                                                                
                                                                                
                                                                                    <td>
                                                                                
                                                                                        <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                                    </td>
                                                                                    <td>
                                                                                            pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                                        </td>
                                                                                <td>
                                                                                        <div class="form-group">
                                                                                                <label for="file3" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                                <input type="file"
                                                                                                       id="file3"
                                                                                                       >
                                                                                            </div>
                                                                                </td>
                                                                                </tr>
                                                                                <tr>
                                                                    
                                                                                        <td>
                                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                        </td>
                                                                                        <td>
                                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                                        </td>
                                                                                    
                                                                                    
                                                                                        <td>
                                                                                    
                                                                                            <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                                        </td>
                                                                                        <td>
                                                                                                pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                                            </td>
                                                                                    <td>
                                                                                            <div class="form-group">
                                                                                                    <label for="file4" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                                    <input type="file"
                                                                                                           id="file4"
                                                                                                           >
                                                                                                </div>
                                                                                    
                                                                                    </td>
                                                                                    </tr>


                                                                                    <tr>
                                                                    
                                                                        <td>
                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                        </td>
                                                                        <td>
                                                                            mmmmmmmm mmmmmm mmmmmmmmmmmmm mmmmmmmmmmm mmm
                                                                        </td>
                                                                    
                                                                    
                                                                        <td>
                                                                    
                                                                            <input type="date" formControlName="CompanyAddress" placeholder="1/9/2019" class="form-control">
                                                                        </td>
                                                                        <td>
                                                                                pic1.png&nbsp;<i class="fa fa-times"></i>
                                                                            </td>
                                                                    <td>
                                                                            <div class="form-group">
                                                                                    <label for="file5" class="btn btn-primary">&nbsp;Upload File&nbsp;</label>
                                                                                    <input type="file"
                                                                                           id="file5"
                                                                                           >
                                                                                </div>
                                                                    
                                                                    </td>
                                                                    </tr>
                                                                   
                                                                </tbody>
                                                            </table>
                                                      
                                                        </div>
                                                    </div>
                             
                                                     
                                              
                                             </form>
                                 
                           
                           
                         
                             
                             
                             </div>
                            </div>
           
                           
                                        <div class="row">
                                                <div class="col-sm-12 mt-5">
                                                    <button type="submit" 
                                                        class="btn btn-primary float-right margin-h-10 " > &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Submit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                        </button>
                                                </div>
                                            </div>
            </div>


             

 


            </div>
        </div>
    </div>
</div>


