
<div class="wrapper wrapper-content ">
    <div class="row">
            <div class="col-sm-12">
                    <sections-steps [requestID]="model.RequestID" [step]="5" ></sections-steps></div>
        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox ">
                        
                        <div class="ibox-content">

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade" id="pills-sec1" role="tabpanel"
                                    aria-labelledby="pills-sec1-tab">
                                    sect1
                                </div>
                                <div class="tab-pane fade" id="pills-sec2" role="tabpanel"
                                    aria-labelledby="pills-sec2-tab">.2.</div>
                                <div class="tab-pane fade" id="pills-sec3" role="tabpanel"
                                    aria-labelledby="pills-sec3-tab">
                                    sect3
                                </div>
                                <div class="tab-pane fade" id="pills-sec4" role="tabpanel"
                                    aria-labelledby="pills-sec4-tab">.4.</div>
                                <div class="tab-pane forms-wrap show active" id="pills-sec5" role="tabpanel"
                                    aria-labelledby="pills-sec5-tab">
                                   

                                   
                                    <h1 *ngIf="!isPageLoaded" align="center"><i class="blue fa fa-refresh fa-spin"></i>
                                    </h1>
                                    <form role="form" [formGroup]="form" (ngSubmit)="save()" *ngIf="isPageLoaded">
                                        <div class="form-group   row">
                                                <h4 class="wrap-head col-xs-12">                         {{'request.sales.title'|translate}}
                                                    </h4>
                                            <h5
                                                class="col-xs-12 ">{{'request.sales.indicate'|translate}}</h5>
                                            <div class="col-sm-12">
                                                <!-- countriesIDs : {{countriesIDs | json}} -->
                                                <span *ngIf="canEdit">
                                                <ng-select  [items]="cities" bindLabel="Name" bindValue="ID"
                                                    [multiple]="true" placeholder="{{'shared.select-countries' | translate}}"
                                                    formControlName="countriesIDs">
                                                </ng-select>
                                                <div class="col-sm-12 text-danger padding-h-15"
                                                *ngIf="!form.controls['countriesIDs'].valid && form.controls['countriesIDs'].touched">
                                                <div class="valid-label text-danger"
                                                    *ngIf="form.controls['countriesIDs'].hasError('required')">
                                                    {{'shared.validation.required'|translate}}
                                                </div>
                                               
                                            </div>
                                            </span>

                                                <span *ngIf="!canEdit">
                                                <ng-select      
                                                  [disabled]="true"
                                                [items]="cities" bindLabel="Name" bindValue="ID"
                                                [multiple]="true" 
                                                formControlName="countriesIDs">
                                            </ng-select></span>
                                            </div>
                                        </div>

                                        <div class="row margin-top-15">
                                            <div class="form-group col-sm-11">
                                                <!-- <img  class="pull-right" src="/assets/images/ajax-loader.gif"> -->
                                                <button [disabled]="!canEdit || isSaving" type="submit"
                                                    class="btn  next-step">{{'request.save'|translate}}
                                                    <!-- <i class="fa fa-check-square-o"></i>  -->
                                                </button>
                                                <button type="button" (click)="resetForm()"
                                                    class="btn prev-step margin-h-10 ">{{'request.prev'|translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="pills-sec6" role="tabpanel"
                                    aria-labelledby="pills-sec6-tab">.6.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>