<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>New Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> 0</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Under process Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> 10</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Rejected Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> 15</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Issued Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> 6</h1>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Requests</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="popChart"></canvas>
                </div>
            </div>
        </div>

    </div>

</div>