<div class="wrapper col-xs-12" id="home">
  <app-header></app-header>
  <!-- owl-carousel owl-theme -->
  <main class="main-content col-xs-12">
    <div class="hero-s col-xs-12">
      <div class="h-slider ">
        <!-- <div class="item" style="background-image: url(assets/images/hero.png)">
          <div class="container">
            <div class="cop">
              <h3>استخراج شهادة حلال</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
              <a [routerLink]="['/user/sign-in']" class="btn">قدم طلبك الان</a>
            </div>
          </div>
        </div> -->
        <div class="item" style="background-image: url(assets/images/hero.png)">
          <div class="container">
            <div class="cop">
              <h3>استخراج شهادة حلال</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
              <a [routerLink]="['/user/sign-in']" class="btn">قدم طلبك الان</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-extra col-xs-12">
      <div class="container">
        <div class="h-inner">
          <div class="h-left col-md-3 col-xs-12">
            <img src="assets/images/halal-logo1.png" alt="">
          </div>
          <div class="h-data col-md-9 col-xs-12">
            <div class="inner">
              <h3>ماهي شهادة حلال</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-s col-xs-12">
      <div class="container">
        <div class="g-head col-xs-12">
          <h3>خدمات البوابة</h3>
          <p>يقدم مركز حلال بالهيئة العاملة للغذاء والدواء الخدمات التالية</p>
        </div>
        <div class="g-body col-xs-12">
          <div class="block col-md-4 col-xs-12">
            <div class="inner">
              <span>1</span>
              <h3>اصدار شهادة حلال للمنشات</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
            </div>
          </div>
          <div class="block col-md-4 col-xs-12">
            <div class="inner">
              <span>2</span>
              <h3>لاعتراف بالجهات المانحة لشهادات الحلال</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
            </div>
          </div>
          <div class="block col-md-4 col-xs-12">
            <div class="inner">
              <span>3</span>
              <h3>الحصول على المعلومات المانحة لشهادات حلال</h3>
              <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
                ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-s col-xs-12" id="about">
      <div class="container">
        <div class="ab-vid col-md-6 col-xs-12">
          <div class="inner" style="background-image: url(assets/images/post.png)">
            <a href="https://www.youtube.com/watch?v=Cq4Gs-MORS0" data-fancybox>
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
        <div class="ab-data col-md-6 col-xs-12">
          <div class="inner">
            <h3>عن البوابة</h3>
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص.

            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="order-s col-xs-12">
      <div class="container">
        <div class="order-vid col-md-6 col-xs-12">
          <div class="g-head col-xs-12">
            <h3>كيفية تقديم طلب</h3>
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="g-body col-xs-12">
            <div class="inner" style="background-image: url(assets/images/post.png)">
              <a href="https://www.youtube.com/watch?v=Cq4Gs-MORS0" data-fancybox>
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="order-steps col-md-6 col-xs-12">
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/1.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/2.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/3.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/4.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/5.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="st-block col-md-6 col-xs-12">
            <img src="assets/images/service-icons/6.png" alt="">
            <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
          </div>
          <div class="order-now col-md-7 col-xs-12">
            <span>قدم طلبك الان في خطوات بسيطة</span>
            <a href="#" class="btn">قدم طلبك الان</a>
          </div>
        </div>

      </div>
    </div>

    <div class="faqs-s col-xs-12" id="faq">
      <div class="container">
        <div class="g-head col-xs-12">
          <h3>الاسئلة الشائعة</h3>
          <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر
            أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي
            كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
        </div>
        <div class="g-body col-xs-12">
          <ul class="nav-tabs">
            <li class="active">
              <a href="#" data-toggle="tab" data-target="#t1">الكل</a>
            </li>
            <li>
              <a href="#" data-toggle="tab" data-target="#t2">الأفراد</a>
            </li>
            <li>
              <a href="#" data-toggle="tab" data-target="#t3">الجهات المانحة</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="t1">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#it-1">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>
                    </h4>
                  </div>
                  <div id="it-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#it-2">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#it-3">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="t2">
              <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion1" href="#it-11">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>
                    </h4>
                  </div>
                  <div id="it-11" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#it-22">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-22" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#it-33">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-33" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="t3">
              <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#it-111">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>
                    </h4>
                  </div>
                  <div id="it-111" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#it-222">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-222" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#it-333">
                        لكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس
                      </a>

                    </h4>
                  </div>
                  <div id="it-333" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال
                        بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن
                        تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
  <div class="toTop col-xs-12 text-center">
    <i class="fa fa-angle-up"></i>
  </div>
</div>