<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Submitted Audit plan</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Admin</a>
            </li>
            <li class="breadcrumb-item active">
                <a>Submitted Audit plan</a>
            </li>

        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight" id="appendix-content">

    <div *ngIf="page.isPageLoaded" class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="padding-top-5">Halal Aduit plan</h5>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <br> <br>
                    <div class="form-group row">
                        <!-- {{model|json}} -->
                        <label class="control-label col-sm-3">Application title * </label>
                        <input class="form-control col-sm-8" value="Halal Aduit Plan" type="text" readOnly="true">
                    </div>

                    <div class="form-group row ">
                        <label class="control-label col-sm-3">consumer name * </label>
                        <input class="form-control col-sm-8" [value]="model.ConsumerName" type="text" readOnly="true">
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Address * </label>
                        <input class="form-control col-sm-8" [value]="model.Address" type="text" readOnly="true">
                    </div>

                    <div class="hr-line-dashed-space"></div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Visit number * </label>
                        <input class="form-control col-sm-8" [value]="model.VisitNumber" placeholder="12345" type="text"
                            [readOnly]="true">
                    </div>



                    <div class="form-group row">
                        <label class="control-label col-sm-3" for="date_modified"> Audit date *</label>

                        <fieldset class="col-sm-4">

                            <input bsDatepicker [readonly]="true" type="text"
                                [value]="model.AuditDate | date:'yyyy-MM-dd'" class="form-control col-sm-12"
                                placeholder="7/4/2020">
                        </fieldset>
                        <span class="col-sm-2 m-t-5"><i class="fa fa-calendar  fa-2x text-navy"></i></span>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-3">Lead auditor * </label>

                        <div class="col-sm-8">
                            <!-- {{leadAuditors | json}} -->
                            <ng-select [disabled]="true" [items]="employees" bindLabel="Name" bindValue="ID"
                                [multiple]="true" placeholder="Add staff member name" [(ngModel)]="leadAuditors"
                                [ngModelOptions]="{standalone: true}">
                            </ng-select>

                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="control-label col-sm-3">Team member * </label>

                        <div class="col-sm-8">
                            <ng-select [disabled]="true" [items]="employees" bindLabel="Name" bindValue="ID"
                                [multiple]="true" placeholder="Add staff member name" [(ngModel)]="teamMembers"
                                [ngModelOptions]="{standalone: true}">
                            </ng-select>


                        </div>

                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-3">Halal islamic affairs expert * </label>

                        <div class="col-sm-8">

                            <ng-select [disabled]="true" [items]="employees" bindLabel="Name" bindValue="ID"
                                [multiple]="true" placeholder="Add staff member name" [(ngModel)]="affairsExperts"
                                [ngModelOptions]="{standalone: true}">
                            </ng-select>


                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3">Additional Attendees and Roles (optional) </label>

                        <div class="col-sm-3">

                            <select [disabled]="true" #inputEmployeeID class="form-control" required>
                                <option value="" disabled selected>Add staff member name </option>
                                <option *ngFor="let item of employees" [value]="item.ID">{{item.Name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input placeholder="Type Role" #inputRole class="form-control" type="text"
                                [disabled]="true">

                        </div>
                        <div class="col-sm-3">
                            <button type="button" [disabled]="true"
                                class="btn btn-primary1 btn-circle-primary btn-add padding-top-5">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>



                    </div>
                    <div class="row" *ngIf="model.AdditionalAttendees.length>0">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <!-- {{model.AdditionalAttendees|json}} -->
                                <table class="table  table-bordered audittabel">
                                    <thead>
                                        <tr>
                                            <th>Staff Member
                                            </th>
                                            <th>Role
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let item of model.AdditionalAttendees;let i=index;">

                                            <td>
                                                <input type="text" readonly [value]="item.EmployeeName"
                                                    class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="item.Role" class="form-control">
                                            </td>
                                            <td class="custom-th ">

                                                <a class="btn btn-transparent" [class.anchor-disabled]="true">
                                                    <i class="fa  fa-trash text-navy fa-2x "></i>

                                                </a>






                                            </td>


                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Audit Language * </label>

                        <div class="col-sm-3">
                            <fieldset [disabled]="true">

                                <label class="custom-radio-btn col-12">Arabic
                                    <input [checked]="model.AuditLanguage == 0" type="radio" />
                                    <span class="checkmark"></span>
                                </label>
                            </fieldset>
                        </div>
                        <div class="col-sm-3">
                            <fieldset [disabled]="true">
                                <label class="custom-radio-btn col-12">English
                                    <input [checked]="model.AuditLanguage == 1" type="radio" />
                                    <span class="checkmark"></span>
                                </label>
                            </fieldset>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3">Standards (optional) </label>

                        <textarea [value]="model.Standards" class="form-control col-sm-8 rounded-0"
                            placeholder="Write here ...." rows="5" [readOnly]="true"></textarea>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3">Audit scope (optional) </label>

                        <textarea [value]="model.Scope" class="form-control col-sm-8 rounded-0"
                            placeholder="Write here ...." rows="5" [readOnly]="true"></textarea>

                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3">Audit objective (optional) </label>

                        <textarea [value]="model.Objectives" class="form-control col-sm-8 rounded-0"
                            placeholder="Write here ...." rows="5" [readOnly]="true"></textarea>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3">Additional note (optional) </label>
                        <textarea [value]="model.AdditionalNote" class="form-control col-sm-8 rounded-0"
                            placeholder="Write here ...." rows="5" [readOnly]="true"></textarea>
                    </div>
                    <div class="hr-line-dashed-space"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table  table-bordered audittabel">
                                    <thead>
                                        <tr>
                                            <th>Date
                                            </th>
                                            <th>Time
                                            </th>
                                            <th>Auditor
                                            </th>
                                            <th>Organizational and Functional Units / Processes and Activities
                                            </th>
                                            <th>Key contacts
                                            </th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>

                                                <input type="date" [ngModel]="visit.Date | date:'yyyy-MM-dd'" required
                                                    [ngModelOptions]="{standalone: true}"
                                                    (ngModelChange)="visit.Date = $event" [disabled]="true"
                                                    class="form-control">

                                            </td>
                                            <td>
                                                <input type="time" [ngModel]="visit.Date | date:'HH:mm'" required
                                                    [ngModelOptions]="{standalone: true}"
                                                    (ngModelChange)="visit.Time = $event" [disabled]="true"
                                                    class="form-control">
                                            </td>

                                            <td>
                                                <select class="form-control" [disabled]="true"
                                                    [(ngModel)]="visit.AuditorID" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let item of employees" [value]="item.ID">
                                                        {{item.Name}}</option>

                                                </select>
                                            </td>

                                            <td>
                                                <input type="text" [(ngModel)]="visit.Activities"
                                                    [ngModelOptions]="{standalone: true}" class="form-control"
                                                    [disabled]="true">
                                            </td>

                                            <td>
                                                <input type="text" [(ngModel)]="visit.KeyContacts"
                                                    [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                    class="form-control">
                                            </td>
                                            <td class="custom-th " *ngIf="model.Visits.length == 0">
                                                <button type="button" [disabled]="true"
                                                    class="btn btn-primary1 btn-circle-primary btn-add">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        <tr *ngFor="let visit of model.Visits; let i=index">
                                            <td>

                                                <input type="date" [ngModel]="visit.Date | date:'yyyy-MM-dd'" required
                                                    [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                    (ngModelChange)="visit.Date = $event" class="form-control">

                                            </td>
                                            <td>
                                                <input type="time" [ngModel]="visit.Date | date:'HH:mm'" required
                                                    [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                    (ngModelChange)="visit.Time = $event" class="form-control">
                                            </td>

                                            <td>
                                                <select class="form-control" [(ngModel)]="visit.AuditorID"
                                                    [disabled]="true" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let item of employees" [value]="item.ID">
                                                        {{item.Name}}</option>

                                                </select>
                                            </td>

                                            <td>
                                                <input type="text" [(ngModel)]="visit.Activities" [disabled]="true"
                                                    [ngModelOptions]="{standalone: true}" class="form-control">
                                            </td>

                                            <td>
                                                <input type="text" [(ngModel)]="visit.KeyContacts" [disabled]="true"
                                                    [ngModelOptions]="{standalone: true}" class="form-control">
                                            </td>
                                            <td class="custom-th ">
                                                <a [class.anchor-disabled]="true" class="btn btn-transparent">
                                                    <i class="fa  fa-trash text-navy fa-2x "></i>
                                                </a>
                                            </td>
                                            <td class="custom-th " *ngIf="i == model.Visits.length - 1 ">
                                                <button type="button" [disabled]="true"
                                                    class="btn btn-primary1 btn-circle-primary btn-add margin-top-5">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="m-xl-5">
                        <h3>Notes to clients:</h3>

                        <h3> <small> <i class="fa fa-circle fa-xs"></i></small> &nbsp; <small> Times are approximate
                                and will be confirmed at the opening meeting prior to commencement of the audit.
                            </small></h3>

                        <h3> <small> <i class="fa fa-circle fa-xs"></i></small> &nbsp; <small> SFDA auditors reserve
                                the right to change or add to the elements listed before or during the audit
                                depending on the results of on-site investigation.
                            </small></h3>
                        <h3> <small> <i class="fa fa-circle fa-xs"></i></small> &nbsp; <small> A private place for
                                preparation, review and conferencing is requested for the auditor’s use.
                            </small></h3>

                        <h3> <small> <i class="fa fa-circle fa-xs"></i></small> &nbsp; <small>Please provide a light
                                working lunch on-site each audit day.
                            </small></h3>

                        <h3> <small> <i class="fa fa-circle fa-xs"></i></small> &nbsp; <small> Your contract with
                                SFDA is an integral part of this audit plan and details confidentiality
                                arrangements, audit scope, information on follow up activities and any reporting
                                requirements.

                            </small></h3>



                    </div>

                    <br>
                    <br>
                    <br>

                </div>
            </div>

        </div>
    </div>
</div>